*{
	margin: 0;
	padding: 0;
}
/* ---- TEMPLATE PRINCIPAL ---- */
header{
	width: 100%;
	background: #9d0b0b;
	display: flex;
	justify-content: space-between;
}
header .logo{
	color: #eb8242;
	text-decoration: none;
	font-weight: bold;
	margin: 15px;
}
header .fa-user-circle{
	color: #fff;
	margin: 15px;
}
body{
	background: #fff7d6;
}
/* ---- INDEX ---- */
body .menu{
	display: flex;
	flex-direction: column;
}
body .menu a{
	text-decoration: none;
	background: #29a370;
	color: #FFF;
	margin: 10px auto;
	padding: 15px;
}
body .menu a:hover{
	background: #136e48;
}
/* ---- EVALUAR ---- */
body h1{
	font-family: 'Poppins';
	margin: 15px;
}
.listado-evaluados{
	margin: 10px auto;
}
.listado-evaluados th{
	background: #29a370;
	padding: 5px;
	font-family: 'Poppins';
}
.listado-evaluados td{
	background: #e3e3e3;
	padding: 5px;
	text-align: center;
	font-family: 'Roboto';
}
.listado-evaluados td a{
	background: #29a370;
	color: #fff;
	padding: 5px;
}
/* ---- CALIFICAR ---- */
.calificar a{
	display: inline-block;
	background: #29a370;
	color: #fff;
	padding: 5px;
	margin: 10px;
	text-decoration: none;
	font-family: 'Poppins';
}
body h2{
	font-family: 'Poppins';
	margin-left: 15px;
}
.calificar form{
	margin-left: 15px;
	font-family: 'Roboto';
}
.calificar form .form-group .opciones{
	display: flex;
	flex-direction: row;
}
.calificar form .anterior .resultado-anterior{
	font-weight: bold;
	color: red;
}
.calificar form input[type="radio"]{
	visibility: hidden;
	height: 0;
	width: 0;
}
.calificar form label{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	background-color: #e3e3e3;
	color: red;
	padding: 5px;
	border-radius: 3px;
	margin: 5px;
}
.calificar form input[type="radio"]:checked + label{
	background-color: #58ba83;
}
.calificar form .submit{
	background-color: #77aac9;
	border: none;
	color: #fff;
	padding: 10px;
	border-radius: 3px;
	cursor: pointer;
}
 /*---- ENVIADO ---- */
 .enviado p{
 	font-family: 'Roboto';
 	font-size: 30px;
 }
 .enviado .botones{
 	display: flex;
 	flex-direction: column;
 }
 .enviado a{
 	text-decoration: none;
	background: #29a370;
	color: #FFF;
	margin: 10px auto;
	padding: 15px;
 }